{% extends "base.html" %}
{% block title %}Contacts{% endblock %}

{% block content %}
<br>
<h2>reach us ☆</h2>
<section class="contact-section">
    <div class="contact-card">
        <p>Abigail </p>
        <ul>
            <li>📧 email: abidiamzon@gmail.com</li>
            <li>🌸 instagram: @jichuia </li>
            <li>💌 facebook: Lia Nicdao</li>
        </ul>
    </div>
    
    <div class="contact-card">
        <p>Clark </p>
        <ul>
            <li>📧 email: clarkentabz@gmail.com</li>
            <li>🌸 github: clarkentabz-art </li>
            <li>💌 facebook: Clark Kenneth Riambon Tabion
        </ul>
    </div>

    <div class="contact-card">
        <p>Tracy </p>
        <ul>
            <li>📧 email: tracy133c@gmail.com</li>
            <li>🌸 instragram: acier.brique </li>
            <li>💌 facebook: Tracy Regine Natada
        </ul>
    </div>

    <div class="contact-card">
        <p>Aliah </p>
        <ul>
            <li>📧 email: lapira.aliahjoyce22176@gmail.com/li>
            <li>🌸 instragram: liabytes </li>
            <li>💌 facebook: Aliah Joyce Lapira
        </ul>
    </div>

    <div class="contact-card">
        <p>Amiel</p>
        <ul>
            <li>📧 email: amiel.ardenio0930@gmail.com/li>
            <li>🌸 instragram: Miyelleee </li>
            <li>💌 facebook: Amiel Jana Ardenio
        </ul>
    </div>

    <div class="contact-card">
        <p>Marvin </p>
        <ul>
            <li>📧 email: marvincardona823@gmail.com</li>
            <li>🌸 instragram: crspycringee </li>
            <li>💌 facebook: Marvin Cardøna
        </ul>
    </div>


</section>
{% endblock %}
