{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<section class="profile-section">
    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/abigail.jpg') }}" alt="Profile" class="profile-img">
        <h2>about me</h2>
        <p style="text-indent: 2em;">
            Name: Abigail N. Diamzon<br>
            Age: 19<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Binangonan Rizal<br>
            Hobbies: Gaming<br>
            Something About me: Pink is NOT my fav color
        </p>
    </div>

    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/clark.jpg') }}" alt="Profile" class="profile-img">
        <h2>about me</h2>
        <p style="text-indent: 2em;">
            Name: Clark Kenneth R. Tablon<br>
            Age: 19<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Quezon City<br>
            Hobbies: Gaming<br>
            Something About me: I almost died when I was born
        </p>
    </div>   

    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/amiel.jpg') }}" alt="Profile" class="profile-img">
        <h2>about me</h2>
        <p style="text-indent: 2em;">
            Name: Amiel Jana M. Ardenio<br>
            Age: 20<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Antipolo Rizal<br>
            Hobbies: 3D Modelling<br>
            Something About me: Seals are my favorite animals
        </p>
    </div>   

    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/tracy.jpg') }}" alt="Profile" class="profile-img">
        <h2>about me</h2>
        <p style="text-indent: 2em;">
            Name: Tracy Regine Natada<br>
            Age: 20<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Angono Rizal<br>
            Hobbies: Singing<br>
            Something About me: I love coco jam<br>
            <br>
        </p>
    </div>   

        <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/aliah.jpg') }}" alt="Profile" class="profile-img">
        <h2>about me</h2>
        <p style="text-indent: 2em;">
            Name: Aliah Joyce B. Lapira<br>
            Age: 19<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Sta. Maria, Bulacan<br>
            Hobbies: Dancing and solving puzzles<br>
            Something About me: I love cats n spicy foods

    </div>   

        <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/marvin.jpg') }}" alt="Profile" class="profile-img">
        <h2>about me</h2>
        <p style="text-indent: 2em;">
            Name: Marvin A. Cardona<br>
            Age: 20<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Pasig City<br>
            Hobbies: Gaming<br>
            Something About me: I'm nocturnal<br>
            <br>
        </p>
    </div>   

</section>
{% endblock %}
