{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<br>
<h2> get to know us ♡ </h2>
<section class="profile-section">
    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/abigail.jpg') }}" alt="Profile" class="profile-img">
        <h2>Abigail Diamzon</h2>
        <p style="text-indent: 2em;">
            Age: 19<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Binangonan Rizal<br>
            Hobbies: Gaming<br>
            Something about me: Pink is NOT my fav color
        </p>
    </div>

    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/clark.jpg') }}" alt="Profile" class="profile-img">
        <h2>Clark Kenneth Tablon</h2>
        <p style="text-indent: 2em;">
            Age: 19<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Quezon City<br>
            Hobbies: Gaming<br>
            Something about me: I almost died when I was born
        </p>
    </div>   

    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/amiel.jpg') }}" alt="Profile" class="profile-img">
        <h2>Amiel Jana Ardenio</h2>
        <p style="text-indent: 2em;">
            Age: 20<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Antipolo Rizal<br>
            Hobbies: 3D Modelling<br>
            Something about me: Seals are my favorite animals
        </p>
    </div>   

    <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/tracy.jpg') }}" alt="Profile" class="profile-img">
        <h2>Tracy Regine Natada</h2>
        <p style="text-indent: 2em;">
            Age: 20<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Angono Rizal<br>
            Hobbies: Singing<br>
            Something about me: I love coco jam<br>
            <br>
        </p>
    </div>   

        <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/aliah.jpg') }}" alt="Profile" class="profile-img">
        <h2>Aliah Joyce Lapira</h2>
        <p style="text-indent: 2em;">
            Age: 19<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Sta. Maria, Bulacan<br>
            Hobbies: Dancing and solving puzzles<br>
            Something about me: I love cats n spicy foods

    </div>   

        <div class="profile-card" style="text-align: center;">
        <img src="{{ url_for('static', filename='images/marvin.jpg') }}" alt="Profile" class="profile-img">
        <h2>Marvin A. Cardona</h2>
        <p style="text-indent: 2em;">
            Age: 20<br>
            Course/Section/Year: BSCpE 2-3<br>
            Hometown: Pasig City<br>
            Hobbies: Gaming<br>
            Something about me: I'm nocturnal<br>
            <br>
        </p>
    </div>   

</section>
{% endblock %}

