{% extends "base.html" %}
{% block title %}Queue{% endblock %}

{% block content %}
<section>

    <h1>Queue</h1>

    <form action="/queue" method="post">
    <div class="tool-box input">
        <label for="inputString">Enter Order Number</label>
        <input type="text" id="inputString" name="order">
    </div>
    <br>
    <div class="tool-box button">
        <button type="submit" name="enterOrder" value="newOrder">Add Order</button>
    </div>

    <div class="tool-box button">
        <button type="submit" name="finishOrder" value="orderServed">Serve Order</button>
    </div>
    </form>

    {% if result %}
    <div class="result-box">
        <p>{{ result }}</p>
    </div>
    {% endif %}
 
</section>
{% endblock %}